# Etapa 1 - Preparação de Dados

In [1]:
import pickle

from json import load
from tqdm.notebook import tqdm

In [ ]:
with open("../dados-processados/dataset.pickle", 'rb') as _file:
    dataset = pickle.load(_file)

dataset

In [5]:
import pandas as pd


df = pd.DataFrame(dataset, columns=['nome','tracks'])
df

                    nome                                             tracks
0             Throwbacks  [(0, 0, 0), (1, 1, 1), (2, 2, 2), (3, 3, 3), (...
1       Awesome Playlist  [(0, 37, 51), (1, 38, 52), (2, 38, 53), (3, 38...
2                korean   [(0, 58, 90), (1, 59, 91), (2, 60, 92), (3, 60...
3                    mat  [(0, 89, 154), (1, 89, 155), (2, 90, 156), (3,...
4                    90s  [(0, 175, 280), (1, 176, 281), (2, 177, 282), ...
...                  ...                                                ...
999995            Praise  [(0, 2290, 113082), (1, 820, 5782), (2, 820, 4...
999996           Worship  [(0, 136367, 2262284), (1, 136367, 2262285), (...
999997               Sex  [(0, 1656, 39642), (1, 1606, 41142), (2, 1644,...
999998                ✝️  [(0, 638, 5767), (1, 2303, 5871), (2, 4548, 14...
999999             BANDA  [(0, 4263, 12420), (1, 4263, 12517), (2, 4284,...

[1000000 rows x 2 columns]

In [8]:
df['nome'].iloc[:40]

0               Throwbacks
1         Awesome Playlist
2                  korean
3                      mat
4                      90s
5                  Wedding
6     I Put A Spell On You
7                     2017
8                      BOP
9             old country
10                   abby
11                    VIBE
12                   relax
13                   sleep
14                   90's
15               New Songs
16              slow hands
17          Mom's playlist
18                   SARAH
19              melancholy
20                 mixtape
21               Sad Songs
22                fall '17
23                      ✔️
24       Twenty one pilots
25                  run it
26             Winter 2014
27                 smooth
28                    Yeet
29                  groovy
30             Garage Rock
31             Running 2.0
32                acoustic
33                 morning
34               good good
35              Good Vibes
36              indie rock
37                    Hits
38                      tb
39                 Country
Name: nome, dtype: object